@import "../../components/experiments/sunClock";

#auto-complete-select {
  position: relative;

  .auto-complete-options {
    background-color: lighten($color3, 25%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0.5em;
    position: absolute;
    z-index: 1000;

    width: 100%;

    top: 1.9em;

    .auto-complete-option {
      padding: 0.5em;
      font-family: $dosis;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 2px;
      transition: all 0.2s ease-in-out;

      &:last-child {
        border-radius: inherit;
      }

      &:hover {
        cursor: pointer;
        background-color: lighten($color3, 15%);
      }

      &.selected {
        background-color: lighten($color3, 15%);
      }
    }
  }
}
