@import '../../fonts';
@import '../../variables';
$color1: #350146;
$color2: #ffee00;
$color3: #1445d9;
$color4: #1b8c6f;
$color5: #09d9a3;

#sun-clock {
  background: #eaeaea;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 6em 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  font-family: $dosis;

  #settings-icon {
    position: absolute;
    color: $color1;
    top: 1em;
    right: 1em;
    font-size: 2em;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $color5;
    }
  }

  .spinner-container {
    text-align: center;
    .spinner {
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(90deg);
        }
        50% {
          transform: rotate(180deg);
        }
        75% {
          transform: rotate(270deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      animation: spin;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-timing-function: ease-in;
    }
  }

  #overlay {
  }

  #form {
    // background-color: lighten($color5, 70%);
    background-color: #eaeaea;
    border-radius: 5px;
    box-shadow: 0 0 5px darken($color4, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.4em 3em 0.4em;
    position: absolute;
    width: 90vw;
    height: auto;
    z-index: 1;

    #search-results {
      background-color: $color1;
      height: 100%;
      width: 100%;
      padding: 15px;
      overflow-y: scroll;

      color: lighten($color1, 5%);

      opacity: 0;

      position: absolute;
      z-index: 3;

      #results-header {
        display: flex;
        justify-content: space-between;

        #header-text {
          color: lighten($color2, 35%);
          font-family: $dosis;
          font-size: 1.7em;
          justify-self: end;
          letter-spacing: 8px;
          line-height: 0.75em;
          margin-left: auto;
          padding: 0;
          text-transform: uppercase;
        }
      }

      .result-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 3;

        width: auto;
      }

      .result-item {
        background-color: lighten($color3, 25%);

        border-radius: 5px;
        width: auto;
        padding: 15px;
        margin: 20px;

        color: darken($color3, 35%);
        font-size: 1.5rem;
        font-weight: 600;

        transition: all 0.1s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: darken($color3, 15%);
          color: lighten($color3, 45%);
        }
      }
    }

    #header {
      align-items: center;
      display: flex;
      padding: 0.75em 0 2em 0.4em;
      width: 100%;

      #title {
        align-self: flex-end;
        color: darken($color1, 35%);
        font-family: $dosis;
        font-size: 2.5em;
        justify-self: end;
        letter-spacing: 8px;
        line-height: 0.75em;
        margin-left: auto;
        padding: 0;
        text-transform: uppercase;
      }
    }

    #divider {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0.5em;

      #circle {
        align-items: center;
        border-radius: 50%;
        background-color: darken($color1, 3%);
        color: lighten($color2, 35%);
        display: flex;
        font-family: $dosis;
        font-size: 1.2em;
        font-weight: 600;
        height: 40px;
        justify-content: center;
        width: 40px;
      }
    }

    .disabled-form-row {
      background-color: darken($color1, 5%);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      z-index: 2;
    }
    .form-row {
      display: flex;
      background-color: darken($color5, 15%);
      border-radius: 5px;
      margin-bottom: 0.75em;
      padding: 1em;
      width: 100%;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      .label {
        align-items: flex-end;
        color: adjust-color($color4, $lightness: 70%);
        display: flex;
        font-family: $open-sans;
        font-size: 1.2em;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5em;
        width: 40%;
      }
      .country-option {
        font-family: $dosis;
      }
      input {
        background-color: lighten($color4, 55%);
        border: none;
        border-radius: 5px;
        color: lignten($color3, 35%);
        font-family: $dosis;
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 2px;
        margin: 0;
        transition: box-shadow 0.1s ease-in-out;
        width: 100%;

        &:focus {
          box-shadow: 0 0 10px $color4;
          outline: none;
        }
      }
    }

    input {
      padding: 5px;
      margin: 5px;
    }

    #submit {
      background-color: lighten($color4, 0%);
      border: none;
      border-radius: 10px;
      color: adjust-color($color4, $lightness: 70%);
      font-size: 1.2em;
      margin: 1em auto;
      padding: 15px;
      text-transform: uppercase;
      transition: all 0.1s ease-in-out;
      font-family: $open-sans;
      width: 40%;

      &:hover {
        background-color: $color5;
      }
    }

    .alert {
      background-color: $color2;
      border-radius: 5px;
      padding: 30px;
      margin-top: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      color: darken($color1, 35%);

      font-family: $dosis;
      font-size: 2rem;

      position: absolute;
      z-index: 2000;
      opacity: 0;
      top: -50px;

      h4 {
        padding: 10px;
      }

      svg {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 1.5rem;
      }
    }

    .close-x {
      font-size: 1.5em;
      transition: all 0.1s ease-in-out;
      path {
        stroke: $color4;
        transition: stroke 0.1s ease-in-out;
      }
      &:hover {
        path {
          cursor: pointer;
          stroke: $color5;
        }
      }
    }
  }

  #chart {
    border-radius: 50%;
    background: #2e2e2e;
    box-shadow: 0 0 10px #2e2e2e;
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  #sun-clock {
    #chart {
      width: 700px;
      height: 700px;
    }
    #form {
      width: 40vw;
    }
  }
}
