#crush-clone {
    background-color: #ffb6c1;
    height: 95vh;
    padding-top: 50px;
    width: 100vw;
    
    #board {
        background-color: #c96977;
        height: 90vh;
        width: 90vw;
        max-height: 90vw;
        max-width: 90vh;
        margin: 0 auto;
    }
}