#sun-clock {

  background: #666666;
  display: flex;
  height: 100vh;
    justify-content: center;
    padding: 8em 0;
  overflow: hidden;
  width: 100%;

  #form {
    input {
      padding: 10px;
      margin: 5px;
    }
  }

  #chart {
    border-radius: 50%;
    background: #2e2e2e;
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  #sun-clock {
    #chart {
      width: 700px;
      height: 700px;
    }
  }
}
// #sunClock {
//     background-color: #ababab;
//     border-radius: 5px;
//     box-shadow: 0 0 5px #353535;
//     height: 75vh;
//     width: 75vw;
//     max-height: 75vw;
//     max-width: 75vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     #face {
//         background: #5b3c9d;
//         background-image: linear-gradient(to right, transparent 50%, #1f0f41 0);
//         border-radius: 50%;
//         box-shadow: 0 0 5px #1f0f41;
//         height: 80%;
//         width: 80%;

//         &::before {
//             content: '';
//             display: block;
//             margin-left: 50%;
//             height: 100%;
//             border-radius: 0 100% 100% 0 / 50%;
//             // background-color of before element
//             // should match the left side for
//             background-color: #5b3c9d;
//             transform-origin: left;
//             transform: rotate(45deg);
//         }
//     }
// }
